@media only screen and(min-width:830px) {
    .guanyu {
        width: 100vw;
        height: 100vh;
        background-color: rgb(244, 245, 245);
        overflow-y: scroll;
        font-size: .16rem;
        .top_header {
            position: sticky;
            top: 0;
            z-index: 2;
            .naviga {
                display: flex;
                justify-content: center;
                width: 100%;
                height: .46rem;
                background-color: rgb(255, 255, 255);
                box-shadow: 0 .01rem .02rem 0 rgb(0 0 0 / 5%);
                z-index: 2;
                .nav {
                    width: 9.6rem;
                    height: .46rem;
                    a {
                        margin: 0 .1rem 0 0;
                        display: inline-block;
                        height: .46rem;
                        text-align: center;
                        line-height: .46rem;
                    }
                    a:nth-child(2) {
                        color: #007FFF;
                    }
                    a:hover {
                        color: #007FFF;
                    }
                }
            }
        }
        .section {
            display: flex;
            justify-content: center;
            margin: .16rem 0 0 0;
            width: 100%;
            height: auto;
            .article {
                margin-right: .16rem;
                padding: .5rem;
                width: 8rem;
                min-height: 5.8rem;
                color: black;
                background-color: rgb(255, 255, 255);
                font-size: .15rem;
            }
            .othercss {
                line-height: .3rem;
                ol,
                ul {
                    padding-left: 1em;
                }
                h1,
                h2,
                h3,
                h4,
                h5,
                h6 {
                    color: #007FFF;
                }
                a {
                    color: #1672F3
                }
                h3 {
                    font-size: .2rem;
                }
                table {
                    height: auto;
                    border-spacing: 0;
                    border-collapse: separate;
                    thead {
                        tr {
                            th {
                                padding: .1rem;
                                text-align: left;
                                border: .01rem solid #e8e9e8;
                                font-weight: normal;
                            }
                            &:first-child :first-child {
                                border-top-left-radius: .1rem;
                            }
                            &:first-child :last-child {
                                border-top-right-radius: .1rem;
                            }
                        }
                    }
                    tbody {
                        tr {
                            td {
                                padding: .1rem;
                                border: .01rem solid #e8e9e8;
                            }
                            &:last-child :first-child {
                                border-bottom-left-radius: .1rem;
                            }
                            &:last-child :last-child {
                                border-bottom-right-radius: .1rem;
                            }
                        }
                    }
                }
                pre {
                    border-radius: .1rem .1rem 0 .1rem;
                    overflow: hidden;
                }
                blockquote {
                    display: flex;
                    margin: 0;
                    height: auto;
                    &::before {
                        margin-right: .1rem;
                        align-self: stretch;
                        content: "";
                        display: block;
                        width: .04rem;
                        background-color: #e8e9e8;
                        border-radius: .02rem;
                    }
                }
            }
        }
    }
}

@media only screen and(max-width:829px) {
    .guanyu {
        width: 100vw;
        height: 100vh;
        background-color: rgb(244, 245, 245);
        overflow-y: scroll;
        font-size: 0.16rem;
        .top_header {
            position: sticky;
            top: 0;
            z-index: 2;
            .naviga {
                width: 100%;
                height: 1.6466rem;
                background-color: rgb(255, 255, 255);
                box-shadow: 0 .0716rem .0716rem 0 rgb(0 0 0 / 5%);
                z-index: 2;
                .nav {
                    margin-left: .7159rem;
                    height: 1.6466rem;
                    a {
                        margin: 0 .3579rem 0 0;
                        display: inline-block;
                        height: 1.6466rem;
                        text-align: center;
                        line-height: 1.6466rem;
                    }
                    a:nth-child(2) {
                        color: #007FFF;
                    }
                    a:hover {
                        color: #007FFF;
                    }
                }
            }
        }
        .section {
            margin: .5727rem 0 0 0;
            width: 100%;
            height: auto;
            .article {
                padding: .7159rem;
                width: 100%;
                min-height: 20.761rem;
                color: black;
                background-color: rgb(255, 255, 255);
                font-size: .5011rem;
            }
            .othercss {
                ol,
                ul {
                    padding-left: 1em;
                }
                h1,
                h2,
                h3,
                h4,
                h5,
                h6 {
                    color: #007FFF;
                }
                a {
                    color: #1672F3
                }
                h3 {
                    font-size: .7159rem;
                }
                table {
                    height: auto;
                    border-spacing: 0;
                    border-collapse: separate;
                    thead {
                        tr {
                            th {
                                padding: .3579rem;
                                text-align: left;
                                border: .0358rem solid #e8e9e8;
                                font-weight: normal;
                            }
                            &:first-child :first-child {
                                border-top-left-radius: .3579rem;
                            }
                            &:first-child :last-child {
                                border-top-right-radius: .3579rem;
                            }
                        }
                    }
                    tbody {
                        tr {
                            td {
                                padding: .3579rem;
                                border: .0168px solid #e8e9e8;
                            }
                            &:last-child :first-child {
                                border-bottom-left-radius: .3579rem;
                            }
                            &:last-child :last-child {
                                border-bottom-right-radius: .3579rem;
                            }
                        }
                    }
                }
                pre {
                    border-radius: .3579rem .3579rem 0 .3579rem;
                    overflow: hidden;
                }
                blockquote {
                    display: flex;
                    margin: 0;
                    height: auto;
                    &::before {
                        margin-right: .3579rem;
                        align-self: stretch;
                        content: "";
                        display: block;
                        width: .1432rem;
                        background-color: #e8e9e8;
                        border-radius: .0716rem;
                    }
                }
            }
        }
    }
}