@media only screen and (min-width:768px) {
    .guanyu {
        position: relative;
        top: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgb(244, 245, 245);
        overflow-y: scroll;
        font-size: .16rem;
        .space_height {
            float: left;
            width: 0rem;
        }
        .top_header {
            position: sticky;
            top: 0;
            z-index: 2;
            .navigation {
                display: flex;
                justify-content: center;
                width: 100%;
                height: .46rem;
                background-color: rgb(255, 255, 255);
                box-shadow: 0 .01rem .02rem 0 rgb(0 0 0 / 5%);
                .nav {
                    width: 3.5rem;
                    height: .46rem;
                    a {
                        margin: 0 .32rem 0 0;
                        display: inline-block;
                        height: .46rem;
                        text-align: center;
                        line-height: .46rem;
                    }
                    a:hover {
                        color: #007FFF;
                    }
                    a:first-child {
                        color: #007FFF;
                    }
                }
                .navright {
                    width: 7.1rem;
                }
            }
        }
        .section {
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            margin: .16rem 0 0 0;
            width: 100%;
            height: auto;
            .article {
                margin-right: .16rem;
                width: 8rem;
                height: auto;
                box-shadow: 0 .02rem .02rem 0 rgb(0 0 0 / 5%);
                .arcontent {
                    padding: .12rem .2rem .12rem;
                    height: 1.6rem;
                    border-bottom: .01rem solid rgb(229, 230, 235);
                    background-color: rgb(255, 255, 255);
                    overflow: hidden;
                    .title {
                        margin-bottom: .2rem;
                        font-size: .22rem;
                        font-weight: 600;
                        color: #007FFF;
                        max-width: 70%;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                    .title:hover {
                        color: #009FFF;
                    }
                    .type {
                        margin-bottom: .1rem;
                        &>span {
                            display: inline-block;
                            margin: 0 .2rem 0 0;
                        }
                        .top {
                            padding: .02rem;
                            display: inline-block;
                            background-color: rgb(0, 127, 255);
                            border-radius: .05rem;
                            color: white;
                        }
                        .artype {
                            height: 100%;
                            vertical-align: middle;
                        }
                        .literal {
                            margin-left: -0.12rem;
                        }
                        .count {
                            vertical-align: middle;
                        }
                    }
                    .introduce {
                        width: 70%;
                        height: .2rem;
                        font-size: .14rem;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                    .checkall {
                        float: right;
                    }
                    .checkall:hover {
                        color: rgb(0, 127, 255);
                    }
                }
            }
        }
    }
}

@media only screen and (max-width:767px) {
    .guanyu {
        position: relative;
        top: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgb(244, 245, 245);
        overflow-y: scroll;
        font-size: 0.16rem;
        .space_height {
            float: left;
            width: 0rem;
        }
        .top_header {
            position: sticky;
            top: 0;
            z-index: 2;
            .navigation {
                width: 100%;
                height: 1.6466rem;
                background-color: rgb(255, 255, 255);
                box-shadow: 0 .0358rem .0716rem 0 rgb(0 0 0 / 5%);
                .nav {
                    display: flex;
                    justify-content: center;
                    width: 100%;
                    height: 1.6466rem;
                    a {
                        margin: 0 1.1454rem 0 0;
                        display: inline-block;
                        height: 1.6466rem;
                        text-align: center;
                        line-height: 1.6466rem;
                    }
                    a:hover {
                        color: #007FFF;
                    }
                    a:first-child {
                        color: #007FFF;
                    }
                }
            }
        }
        .section {
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            margin-top: .5727rem;
            width: 100%;
            height: auto;
            .article {
                width: 100%;
                height: auto;
                box-shadow: 0 .0716rem .0716rem 0 rgb(0 0 0 / 5%);
                .arcontent {
                    padding: .4295rem .7159rem .4295rem;
                    height: 5.7272rem;
                    border-bottom: .0358rem solid rgb(229, 230, 235);
                    background-color: rgb(255, 255, 255);
                    overflow: hidden;
                    .title {
                        margin-bottom: .7159rem;
                        font-size: .7875rem;
                        font-weight: 600;
                        color: #007FFF;
                        max-width: 70%;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                    .title:hover {
                        color: #009FFF;
                    }
                    .type {
                        margin-bottom: .3579rem;
                        &>span {
                            display: inline-block;
                            margin: 0 .7159rem 0 0;
                        }
                        .top {
                            padding: .0716rem;
                            display: inline-block;
                            background-color: rgb(0, 127, 255);
                            border-radius: .179rem;
                            color: white;
                        }
                        .artype {
                            height: 100%;
                            vertical-align: middle;
                        }
                        .literal {
                            margin-left: -0.4295rem;
                        }
                        .count {
                            vertical-align: middle;
                        }
                    }
                    .introduce {
                        width: 70%;
                        height: .7159rem;
                        font-size: .5011rem;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                    .checkall {
                        float: right;
                    }
                    .checkall:hover {
                        color: rgb(0, 127, 255);
                    }
                }
            }
        }
    }
}