@media only screen and (min-width:768px) {
    .ad {
        width: 2.4rem;
        height: auto;
        .profile {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            padding: .2rem .3rem;
            background-color: rgb(255, 255, 255);
            border-bottom: .05rem solid rgb(244, 245, 245);
            img {
                width: .9rem !important;
                height: .9rem !important;
                border-radius: .45rem;
            }
            span {
                padding: .05rem;
                width: 100%;
                text-align: center;
                color: #007FFF;
            }
            .link {
                display: flex;
                justify-content: center;
                width: 100%;
                height: auto;
                .g {
                    width: .02rem;
                    height: 100%;
                    background-color: rgb(244, 245, 245);
                }
                img {
                    width: .3rem !important;
                    height: .3rem !important;
                    border-radius: .225rem;
                }
                a {
                    display: inline-block;
                    margin: 0 .1rem;
                }
            }
        }
        .greet {
            padding: .12rem .2rem .12rem;
            height: auto;
            background-color: rgb(255, 255, 255);
            text-align: center;
            font-weight: 600;
        }
    }
}

@media only screen and (max-width:767px) {
    .ad {
        display: none;
        width: 2.4rem;
        height: auto;
        .profile {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            padding: .2rem .3rem;
            background-color: rgb(255, 255, 255);
            border-bottom: .05rem solid rgb(244, 245, 245);
            img {
                width: .9rem !important;
                height: .9rem !important;
                border-radius: .45rem;
            }
            span {
                padding: .05rem;
                width: 100%;
                text-align: center;
                color: #007FFF;
            }
            .link {
                display: flex;
                justify-content: center;
                width: 100%;
                height: auto;
                .g {
                    width: .02rem;
                    height: 100%;
                    background-color: rgb(244, 245, 245);
                }
                img {
                    width: .3rem !important;
                    height: .3rem !important;
                    border-radius: .225rem;
                }
                a {
                    display: inline-block;
                    margin: 0 .1rem;
                }
            }
        }
        .greet {
            padding: .12rem .2rem .12rem;
            height: auto;
            background-color: rgb(255, 255, 255);
            text-align: center;
            font-weight: 600;
        }
    }
}