.header {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 3.75rem;
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid rgb(244, 245, 245);
    z-index: 3;
    .content {
        width: 75rem;
        height: 3.75rem;
        ul {
            display: flex;
            padding: 0;
            margin: 0;
            list-style: none;
            width: 100%;
            height: 100%;
            li:nth-child(1) {
                line-height: 3.75rem;
                a {
                    color: rgb(0, 127, 255);
                    font-size: 1.875rem;
                }
                span:nth-child(2) {
                    font-size: 1rem;
                    vertical-align: bottom;
                }
            }
            li:nth-child(2) {
                position: relative;
                margin: 0 0 0 33rem;
                height: 3.75rem;
                line-height: 3.75rem;
                .input {
                    width: 13.75rem;
                    height: 2rem;
                    padding: .2rem .75rem;
                    border-radius: .625rem 0 0 .625rem;
                    border-color: #007FFF;
                    border-right: none;
                    outline-style: none;
                }
                button {
                    width: 2.5rem;
                    height: 2rem;
                    background-color: #007FFF;
                    border: none;
                    vertical-align: middle;
                    border-radius: 0 .625rem .625rem 0;
                    img {
                        width: 1.4rem;
                        height: 1.4rem;
                    }
                }
                button:hover {
                    background-color: #008FFF
                }
                .serach {
                    display: none;
                    position: absolute;
                    top: 2.4375rem;
                    left: 0;
                    padding: 0 .5rem;
                    width: 13.83rem;
                    min-height: 2rem;
                    background-color: #fff;
                    border: 2px solid #007FFF;
                    border-top: none;
                    border-radius: 0 0 .625rem .625rem;
                    a {
                        display: block;
                        height: 1.7625rem;
                        line-height: 1.5625rem;
                        font-size: 1.0625rem;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                    a:hover {
                        color: #007FFF;
                    }
                }
            }
            li:nth-child(3) {
                a {
                    display: inline-block;
                    width: 3.75rem;
                    height: 3.75rem;
                    line-height: 3.75rem;
                    text-align: center;
                    font-size: 1.25rem;
                }
                a:hover {
                    color: #007FFF;
                }
            }
        }
    }
}