.header {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 3.75rem;
    background-color: rgb(254, 67, 101);
    border-bottom: 1px solid rgb(222, 188, 222);
    .content {
        width: 75rem;
        height: 3.75rem;
        ul {
            display: flex;
            padding: 0;
            margin: 0;
            list-style: none;
            width: 100%;
            height: 100%;
            li:nth-child(1) {
                img {
                    width: 3.75rem;
                    height: 3.75rem;
                    border-radius: 1.875rem;
                    vertical-align: bottom;
                }
                span {
                    font-size: 30px;
                }
            }
            li:nth-child(2) {
                margin: 0 0 0 35.25rem;
                height: 3.75rem;
                line-height: 3.75rem;
                input {
                    padding: .2rem .75rem;
                    background: url('../../static/serch.svg') no-repeat;
                    background-size: 1.5rem 1.5rem;
                    background-position: 9.625rem;
                    border-radius: .625rem;
                    outline-style: none;
                }
            }
            li:nth-child(3) {
                a {
                    display: inline-block;
                    width: 3.75rem;
                    height: 3.75rem;
                    line-height: 3.75rem;
                    text-align: center;
                }
                a:hover {
                    color: rgb(240, 208, 0);
                }
            }
        }
    }
}