@media only screen and (min-width:768px) {
    .header {
        position: sticky;
        top: 0;
        display: flex;
        justify-content: center;
        width: 100%;
        height: .6rem;
        background-color: rgb(255, 255, 255);
        border-bottom: .01rem solid rgb(244, 245, 245);
        z-index: 2;
        .content {
            width: 12rem;
            height: .6rem;
            ul {
                display: flex;
                justify-content: space-around;
                padding: 0;
                margin: 0;
                list-style: none;
                width: 100%;
                height: 100%;
                li:nth-child(1) {
                    width: 20%;
                    line-height: .6rem;
                    a {
                        color: rgb(0, 127, 255);
                        font-size: .3rem;
                    }
                    span:nth-child(2) {
                        font-size: .16rem;
                        vertical-align: bottom;
                    }
                }
                li:nth-child(2) {
                    width: 60%;
                    position: relative;
                    height: .6rem;
                    line-height: .6rem;
                    text-align: right;
                    .input {
                        width: 3.1rem;
                        height: .32rem;
                        padding: .032rem .12rem;
                        border-radius: .1rem 0 0 .1rem;
                        border-color: #007FFF;
                        border-right: none;
                        outline-style: none;
                        vertical-align: middle;
                    }
                    button {
                        width: .4rem;
                        height: .32rem;
                        background-color: #007FFF;
                        border: none;
                        vertical-align: middle;
                        border-radius: 0 .1rem .1rem 0;
                        img {
                            width: .224rem;
                            height: .224rem;
                        }
                    }
                    button:hover {
                        background-color: #008FFF
                    }
                    .serach {
                        display: none;
                        position: absolute;
                        top: .39rem;
                        left: 0;
                        padding: 0 .08rem;
                        width: 2.2128rem;
                        min-height: .32rem;
                        background-color: #fff;
                        border: .02rem solid #007FFF;
                        border-top: none;
                        border-radius: 0 0 .1rem .1rem;
                        a {
                            display: block;
                            height: .282rem;
                            line-height: .25rem;
                            font-size: .17rem;
                            overflow: hidden;
                            text-overflow: ellipsis;
                        }
                        a:hover {
                            color: #007FFF;
                        }
                    }
                }
                li:nth-child(3) {
                    width: 10%;
                    a {
                        display: inline-block;
                        width: .6rem;
                        height: .6rem;
                        line-height: .6rem;
                        text-align: center;
                        font-size: .2rem;
                    }
                    a:hover {
                        color: #007FFF;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width:767px) {
    .header {
        position: sticky;
        top: 0;
        display: flex;
        justify-content: center;
        width: 100%;
        background-color: rgb(255, 255, 255);
        border-bottom: .0358rem solid rgb(244, 245, 245);
        z-index: 2;
        .content {
            width: 100%;
            ul {
                display: flex;
                flex-direction: column;
                padding: 0;
                margin: 0;
                list-style: none;
                height: 100%;
                li:nth-child(1) {
                    display: none;
                    font-size: .4295rem;
                    line-height: 2.1477rem;
                    text-align: center;
                    a {
                        color: rgb(0, 127, 255);
                        font-size: 1.0738rem;
                    }
                    span:nth-child(2) {
                        font-size: .5727rem;
                        vertical-align: bottom;
                    }
                }
                li:nth-child(2) {
                    position: relative;
                    height: 2.1477rem;
                    line-height: 2.1477rem;
                    text-align: center;
                    .input {
                        width: 10.5237rem;
                        height: 1.1454rem;
                        padding: .1145rem .4295rem;
                        border-radius: .3579rem 0 0 .3579rem;
                        border-color: #007FFF;
                        border-right: none;
                        outline-style: none;
                        vertical-align: middle;
                    }
                    button {
                        width: 1.4318rem;
                        height: 1.1454rem;
                        background-color: #007FFF;
                        border: none;
                        vertical-align: middle;
                        border-radius: 0 .3579rem .3579rem 0;
                        img {
                            width: .8018rem;
                            height: .8018rem;
                        }
                    }
                    button:hover {
                        background-color: #008FFF
                    }
                    .serach {
                        display: none;
                        position: absolute;
                        top: 1.396rem;
                        left: 0;
                        padding: 0 .2864rem;
                        width: 7.9207rem;
                        min-height: 1.1454rem;
                        background-color: #fff;
                        border: .0716rem solid #007FFF;
                        border-top: none;
                        border-radius: 0 0 .3579rem .3579rem;
                        a {
                            display: block;
                            height: 1.0094rem;
                            line-height: .8949rem;
                            font-size: .6085rem;
                            overflow: hidden;
                            text-overflow: ellipsis;
                        }
                        a:hover {
                            color: #007FFF;
                        }
                    }
                }
                li:nth-child(3) {
                    display: none;
                    width: 10%;
                    a {
                        display: inline-block;
                        width: 2.1477rem;
                        height: 2.1477rem;
                        line-height: 2.1477rem;
                        text-align: center;
                        font-size: .7159rem;
                    }
                    a:hover {
                        color: #007FFF;
                    }
                }
            }
        }
    }
}